@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Questrial&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Questrial';
    margin: 0;
    padding: 0;
}

html {
    /*"scroll-behavior: smooth" Permite deslizar al hacer clic en los links del menú*/
    scroll-behavior: smooth;
}

/* MENÚ */
.contenedor-header {
    /*background: #1e2326;*/
    margin: auto;
    background: #0b1013;
    /*background: linear-gradient(to top, #0b1013, #436275);*/
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0px 3px 3px rgb(151, 151, 151);
    display:block;
}

.contenedor-header header {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.contenedor-header header .logo a {
    font-family: 'Questrial';
    font-size: 27px;
    color: #01ebeb;
    text-decoration: none;
    font-weight: bold;
}

.contenedor-header header .logo a span{
    color:aqua;
}

.contenedor-header header .logo h1 {
    font-family: 'Questrial';
    font-size: 19px;
    color: #e6e6e7;
    text-decoration: none;
    font-weight: normal;
}
.contenedor-header header .logo h1 span{
    color:#e6e6e7;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    font-size: 17px;
    text-align: none;
    color: #cfcfd2;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: aqua;
}

.nav-responsive {
    background-color: #23d7de;
    color: #fff;
    height: 35px;
    width: 35px;
    align-content: center;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCIÓN INICIO */
.inicio {
    background: #0B1013;
    background-size: cover;
    height: calc(100dvh - 80px);
    display: flex;
    /*color: #1CB698;*/
}

.inicio .contenido-seccion {
    /*border: 2px solid yellow;*/
    max-width: 60%;
    margin: auto auto auto 10%;
    display: grid;
    grid-template-areas: 'informacion-inicio  contenedor-img'
        'informacion-inicio  redes';
    grid-gap: 0.7rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr;
}

.inicio .contenido-seccion .informacion-inicio {
    grid-area: informacion-inicio;
    padding-right: 5%;
    align-content: center;
    /*max-width: 70%;*/
    text-align: justify;
    /*padding: 40px;*/
}

.inicio .contenedor-img {
    align-content: end;
}

.inicio .contenedor-img img {
    grid-area: contenedor-img;
    box-shadow: 0 0 10px 3px aqua;
    border: 5px solid aqua;
    width: 100%;
}

.inicio .contenido-seccion .informacion-inicio h2 {
    font-size: 20px;
    font-weight: normal;
    color: #23d7de;
    font-family: monospace;
}

.inicio .contenido-seccion h1 {
    font-size: 50px;
    font-weight: bold;
    color: #f2f9f9;
    font-family: 'Roboto';
}

.inicio .contenido-seccion span {
    font-family: 'Roboto';
    color: #f2f2f9;
}

.inicio .contenido-seccion p {
    font-size: 19px;
    color: #e6e6e7;
    font-weight: normal;
    margin-top: 3%;
    text-align: left;
}

.inicio .contenido-seccion .informacion-inicio button {
    cursor: pointer;
    background-color: #e6e6e7;
    border-radius: 20px;
    border: none;
    width: fit-content;
    display: block;
    margin: 20px 0;
    padding: 10px 15px;
    font-size: 16px;
    color: #f5f5f6;
    position: relative;
    z-index: 10;
}

.inicio .contenido-seccion .informacion-inicio button:hover {
    background-color: aqua;
    transition: .5s;
}

.inicio .contenido-seccion .informacion-inicio button a {
    font-family: 'Roboto';
    color: #000;
    text-decoration: none;
    font-size: 15px;
}

.inicio .contenido-seccion .redes {
    grid-area: redes;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 5%;
    /* gap:; */
}

.inicio .contenido-seccion .redes a {
    /*color: #e6e6e7;*/
    color: #e6e6e6;
    border: 2px solid #23d7de;
    border-radius: 20%;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    font-size: 28px;
    transition: .3s;
}

.inicio .contenido-seccion .redes a:hover {
    background-color: #23d7de;

}

/* SECCIÓN SOBRE MÍ */
.sobremi {
    background: #0b1013;
    align-content: center;
}

.sobremi .contenido-seccion {
    max-width: 900px;
    margin: 30px auto;
    padding:20px;
    display: grid;
    grid-template-areas: 'contenedor-img  contenedor-sobremi'
                         'contenedor-img  contenedor-intereses';
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 5fr 2fr;
    gap: 20px;
}

.sobremi .contenido-seccion .contenedor-img {
    grid-area: contenedor-img;
    margin: auto;
}

.sobremi .contenido-seccion .contenedor-img img {
    width: 100%;
}


.sobremi .contenido-seccion .contenedor-sobremi {
    grid-area: contenedor-sobremi;
    margin: auto;
}

.sobremi h2 {
    font-size: 45px;
    font-family: 'Questrial';
    font-weight: bold;
    text-align: left;
    color: #f2f9f9;

}

.sobremi .contenido-seccion .contenedor-sobremi .divider-left {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2em;
}

.sobremi .contenido-seccion .contenedor-sobremi p span {
    color: #00b2b7;
}

.sobremi .contenido-seccion p {
    font-family: 'Questrial';
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: left;
    color: #e6e6e7;
}

.sobremi .contenido-seccion .contenedor-intereses {
    grid-area: contenedor-intereses;
    /* place-items: center; */
    width: fit-content;
    height: fit-content;
    /* margin: auto; */
    justify-content: left;
    background-color: rgba(0, 255, 255, 0.096);
    border: 2px solid aqua;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.sobremi .contenido-seccion .contenedor-intereses .titulo-intereses{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.sobremi .contenido-seccion .contenedor-intereses .intereses{
    display: flex;
    margin: 0 10px 10px 10px;
}

.sobremi .contenido-seccion .contenedor-intereses .titulo-intereses h3 {
    font-size: 23px;
    color: #f2f9f9;
    text-align: left;
    /* margin-top: 30px;
    margin-left: 50px; */
}
.sobremi .contenido-seccion .contenedor-intereses .interes {
    width: 80px;
    height: 80px;
    /* background-color: #23d7de; */
    /* border: 1px solid #00b2b7; */
    /* border-radius: 10px; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* transition: .3s; */
}

.sobremi .contenido-seccion .contenedor-intereses .interes i {
    font-size: 25px;
    color: #e6e6e7;
    margin: 4px;
}

.sobremi .contenido-seccion .contenedor-intereses .interes span {
    font-size: 18px;
    color: #e6e6e7;
}

/* SECCIÓN SKILLS */
.skills {
    background-color: #0b1013;
    align-content: center;
}

.skills .contenido-seccion {
    max-width: 900px;
    margin: 30px auto 50px auto;
}

.skills h2 {
    color: #f2f9f9;
    font-size: 45px;
    font-family: 'Questrial';
    font-weight: bold;
    text-align: center;
    padding: 20px 0 0 0;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    /*margin-top: 5px;
    margin-bottom: 2em;*/
    margin: auto;
}

.skills .contenido-seccion .divider {
    margin-bottom: 2em;
}

.skills .contenido-seccion .contenedor-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 0 0;
}

.skills .contenido-seccion .contenedor-skills .skill {
    width: 160px;
    height: 160px;
    color: #3c3b3e;
    background-color: #18242b;
    /* border: 1px solid #fff; */
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills .contenido-seccion .contenedor-skills .skill span {
    padding-top: 25px;
    display: block;
    color: #e6e6e7;
}

.skills .contenido-seccion .contenedor-skills img {
    width: 100px;
    height: 100px;
}

.hidden {
    opacity: 1;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* SECCIÓN EDUCACIÓN */
.educacion {
    background-color: #0b1013;
    padding: 30px 20px;
    color: #f2f9f9;
}

.educacion .contenido-seccion {
    max-width: 900px;
    margin: auto;
}

.educacion h2 {
    font-size: 45px;
    font-family: 'Questrial';
    font-weight: bold;
    text-align: center;
    padding: 20px 0 0 0;
}

.educacion .contenido-seccion .educacion-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.educacion .contenido-seccion .divider {
    margin-bottom: 20px;
}

/*Agregar borde inferior a todos los elementos de .educacion-item excepto el último*/
.educacion .contenido-seccion .educacion-item:not(:last-child) {
    border-bottom: 2px solid #cfcfd2;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.educacion .contenido-seccion .educacion-item .educacion-logo {
    background: #fff;
    height: 140px;
    width: 140px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 3px rgb(151, 151, 151);
}

.educacion .contenido-seccion .educacion-item .educacion-info {
    flex-grow: 1;
    color: #cfcfd2;
}

.educacion .contenido-seccion .educacion-item p {
    font-size: 17px;
    margin-top: 10px;
    text-align: left;
}

.educacion .contenido-seccion .educacion-item h3 {
    font-size: 23px;
}

.educacion .contenido-seccion .educacion-item h4 {
    font-family: monospace;
    font-size: 20px;
    font-weight: normal;
}

.educacion .contenido-seccion .educacion-item h5 {
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
}

/*.hiddenXLeft {
    opacity: 1;
    filter: blur(5px);
    transform: translateX(-200%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hiddenXLeft {
        transition: none;
    }
}

.showXLeft {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}*/

/*.hiddenXRight {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(30%);
    transition: all 1.5s;
}

@media(prefers-reduced-motion) {
    .hiddenXRight {
        transition: none;
    }
}

.showXRight {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}*/
/* SECCIÓN PROYECTOS */
.portfolio {
    background-color: #0b1013;
    padding: 50px 20px;
}

.portfolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 45px;
    font-family: 'Questrial';
    color: #f2f9f9;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 0 0;
    margin-bottom: 5px;
}

.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.portfolio .galeria .proyecto {
    border: 1px solid #fff;
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galeria .proyecto img {
    width: 100%;
    display: block;
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(#1471619f, #1471619f);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
    color: #e6e6e7;
}

.portfolio .galeria .proyecto .overlay p {
    color: #e6e6e7
}

.portfolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/* SECCION CONTACTO */
.contacto {
    background-color: #0b1013;
    color: #fff;
    padding: 30px;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-areas: 'contenedor-formulario banner-contacto';
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}

.contacto h2 {
    font-size: 45px;
    font-family: 'Questrial';
    font-weight: bold;
    text-align: left;
    padding: 20px 0 0 0;
}
.contacto .contenido-seccion .contenedor-formulario .divider-left {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2em;
}

.contacto .contenido-seccion .contenedor-formulario {
    grid-area: contenedor-formulario;
    padding: 10px;
    /* position: relative; */
}

.contacto .contenido-seccion .contenedor-formulario input,
.contacto .contenido-seccion .contenedor-formulario textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #fff;
    font-size: 18px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solif #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1cb698;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .contenido-seccion .banner-contacto {
    grid-area: banner-contacto;
    place-items: center;
    align-content: center;
    /* align-content: end; */
}
.contacto .contenido-seccion .banner-contacto .contenedor-img img {
    width: 100%;
}

.contacto .contenido-seccion .banner-contacto .info-contacto {
    height: fit-content;
    background-color: #252a2e;
    padding: 20px;
    max-width: 450px;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
}

.contacto .contenido-seccion .banner-contacto .info-contacto ul {
    list-style: none;
}

.contacto .contenido-seccion .banner-contacto .info-contacto ul li {
    margin-bottom: 20px;
}

.contacto .contenido-seccion .banner-contacto .info-contacto ul li i {
    color: #1cb698;
    display: inline-block;
    margin-right: 20;
}

footer {
    /*background: linear-gradient(to top, rgba(255, 255, 255), rgb(184, 184, 184));*/
    background-color: #84848c;
    color: #5a5a60;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 5px;
}

footer .redes a {
    color: #e6e6e7;
    display: inline-block;
    text-decoration: none;
    /*border: 1px solid #e6e6e7;*/
    /*border-radius: 100%;*/
    width: 35px;
    height: fit-content;
    /*height: 35px;*/
    line-height: 30px;
    margin: 5px 1px;
    font-size: 25px;
    transition: .3s;
}

footer .redes a:hover {
    color: #434347;
    justify-content: center;
    align-content: center;
    /*background-color: #5a5a60;*/
    /*background-color: #51b8bf;*/
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #5a5a60;
    color: #e6e6e7;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50px;
    line-height: 50px;
    font-size: 18px;
}

footer p {
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}

/* SECCIÓN RESPONSIVE */
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 57px;
        background: #18242b;
        border: 1px solid #cfcfd2;
        /*background-color: #252a2e;*/
        width: 150px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

/* @media screen and (max-width:700px) {
    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: fit-content;
    }

    .skills.fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .educacion .fila {
        display: block;
    }

    .educacion .fila .col {
        width: 90%;
    }

    .educacion .fila .derecha {
        margin-left: 20px;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }

    .portfolio .galeria .proyecto {
        max-width: 100%;
    }

    .portfolio .galeria .proyecto .img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    } */


/*Responsive creado por mí*/
@media screen and (max-width:700px) {
    /* RESPONSIVE SECCIÓN INICIO */
    .inicio .contenido-seccion {
        max-width: 100%;

        margin: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: .2fr .7fr .1fr;
        grid-template-areas: 'contenedor-img'
            'informacion-inicio'
            'redes';
    }

    .inicio .contenido-seccion .contenedor-img {
        width: 200px;

    }

    .inicio .contenido-seccion .contenedor-img img {
        border: 3px solid #23d7de;
    }

    .inicio .contenido-seccion .informacion-inicio {
        padding: 0;
    }

    .inicio .contenido-seccion .informacion-inicio h2 {
        font-size: 17px;
        color: aqua;
    }

    .inicio .contenido-seccion h1 {
        font-size: 42px;
        color: #f2f2f9;
    }

    .inicio .contenido-seccion span {
        /*verificar si se quiere cambiar el color del primer nombre*/
    }

    .inicio .contenido-seccion p {
        font-size: 21px;
        color: #e6e6e7;
        font-weight: normal;
        margin-top: 3%;
    }

    .inicio .contenido-seccion .informacion-inicio button {
        cursor: pointer;
        background-color: #23d7de;
        border-radius: 20px;
        border: none;
        width: fit-content;
        display: block;
        margin: 20px 0;
        padding: 10px 15px;
        font-size: 16px;
        color: #f5f5f6;
        position: relative;
        z-index: 10;
    }

    .inicio .contenido-seccion .informacion-inicio button:hover {
        background-color: #e6e6e7;
        transition: .5s;
    }

    .inicio .contenido-seccion .informacion-inicio button a {
        font-family: 'Roboto';
        color: #000;
        text-decoration: none;
        font-size: 15px;
    }

    .inicio .contenido-seccion .redes {
        margin: auto auto auto 0;
        padding: 0;
        gap: 10px;
    }

    .inicio .contenido-seccion .redes a {
        /*color: #e6e6e7;*/

    }

    .inicio .contenido-seccion .redes a:hover {
        background-color: #23d7de;

    }

    /* RESPONSIVE SECCIÓN SOBRE MÍ */

    .sobremi{
        height: auto;
    }
    .sobremi .contenido-seccion{
        
        
        grid-template-columns: 1fr;
        grid-template-areas: 'contenedor-sobremi'
                             'contenedor-img'
                             'contenedor-intereses';
        grid-template-rows: .7fr .2fr .1fr;
    }
    .sobremi .contenido-seccion .contenedor-img{
        width: 200px;
    }

    /* RESPONSIVE SECCION SKILLS */
    .skills h2 {
        font-size: 30px;
    }

    .skills .contenido-seccion .contenedor-skills .skill {
        width: 100px;
        height: 100px;
    }

    .skills .contenido-seccion .contenedor-skills .skill img {
        width: 40px;
        height: 40px;
    }

    .skills .contenido-seccion .contenedor-skills .skill span {
        font-size: 15px;
        text-align: center;
        padding: 0;
        margin-top: 10px;
    }
    /* RESPONSIVE SECCIÓN EDUCACIÓN */
    .educacion h2 {
        font-size: 30px;
    }

    .educacion .contenido-seccion .educacion-item {
        display: block;
        text-align: center;

    }

    .educacion .contenido-seccion .educacion-item h3 {
        font-size: 23px;
    }

    .educacion .contenido-seccion .educacion-item h4 {
        font-size: 21px;
    }

    .educacion .contenido-seccion .educacion-item h5 {
        font-size: 16px;
    }

    .educacion .contenido-seccion .educacion-item p {
        font-size: 19px;
    }

    .educacion .contenido-seccion .educacion-item .educacion-logo {
        height: 80px;
        width: 80px;
        margin: auto auto 10px auto;
        padding: 10px;
        justify-content: center;
    }

    .educacion .contenido-seccion .educacion-item .educacion-logo:first-child {
        margin-top: 20px;
    }

    /* RESPONSIVE SECCIÓN CONTACTO */
    .contacto{
        padding: 10px;
    }
    .contacto .contenido-seccion{
        grid-template-columns: 1fr;
        grid-template-areas: 'contenedor-formulario'
                             'banner-contacto';

    }
}

/* @media screen and (max-width:430px) {
    .inicio .contenido-seccion {
        display: block;
        max-width: 80%;
        margin: auto;
    }

    .inicio .contenido-seccion h2 {
        font-size: 15px;
    }

    .inicio .contenido-seccion h1 {
        font-size: 40px;
    }

    .inicio .contenido-seccion p {
        font-size: 14px;
    }

    .inicio .contenido-seccion .contenido-banner {
        max-width: 250px;
        display: block;
        justify-content: center;
        margin: auto;
    }

    .inicio .contenido-seccion .contenido-banner img {
        max-width: 180px;
    }

    .sobremi .contenido-seccion {
        display: block;
    }

    .sobremi .contenido-seccion .contenedor-img {
        display: flex;
        margin-top: 40px;
        justify-content: center;

    }

    .sobremi .contenido-seccion .contenedor-img img {
        max-width: 250px;

    }

    .sobremi .contenido-seccion .contenedor-sobremi {
        margin-top: 20px;
        margin: 40px;
    }

    .sobremi .contenido-seccion h2 {
        font-size: 30px;
    }

    .sobremi .contenido-seccion .contenedor-sobremi h3 {
        font-size: 20px;
    }

    .sobremi .contenido-seccion .contenedor-sobremi p {
        font-size: 16px;
        line-height: normal;
    }

    .sobremi .contenido-seccion .contenedor-sobremi .contenedor-intereses {
        justify-content: center;
        gap: 5px;
        margin: 10px auto auto auto;
    }

    .sobremi .contenido-seccion .columna .fila h3 {
        text-align: center;
    }

    .sobremi .contenido-seccion .contenedor-sobremi .contenedor-intereses .interes {
        width: 70px;
        height: 70px;
        text-align: center;
    }

    .sobremi .contenido-seccion .contenedor-sobremi .contenedor-intereses .interes i {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }

    .sobremi .contenido-seccion .contenedor-sobremi .contenedor-intereses .interes span {
        font-size: 15px;
        /* margin: 0 auto 10px auto; 
    }*/
    

    /*
    
} */